.secondary-nav-card {
  width: 100%;
  height: 10rem;
  grid-column: span 3;
  padding-block: 2rem;
  background: url(../../../public/assets/images/bg-sidebar-mobile.svg) center/cover;
}

@media (min-width: 62rem) {
  .secondary-nav-card {
    z-index: 1;
    height: 100%;
    grid-area: 1/1/-1/2;
    position: relative;
    border-radius: 1rem;
    padding-inline: 1.5rem;
    background: url(../../../public/assets/images/bg-sidebar-desktop.svg) center/cover;
  }
}
