.main-content-card {
  display: grid;
  row-gap: 1rem;
  overflow: auto;
  padding: 1.5rem;
  grid-column: 2/2;
  border-radius: 0.5rem;
  transform: translateY(-4.2rem);
  max-height: calc(100vh - 11.5rem);
  background-color: var(--neutral1);
}

@media (min-width: 62rem) {
  .main-content-card {
    row-gap: 2rem;
    grid-column: span 2;
    padding-inline: 5rem 4rem;
    transform: translateY(0);
  }
}
