.main-heading {
  display: grid;
  row-gap: 0.5rem;
}

.main-heading p {
  color: var(--color6);
  line-height: 1.3rem;
}

@media (min-width: 62rem) {
  .main-heading p {
    font-size: 0.9rem;
  }
}
