:root {
  --color1: hsl(213, 96%, 18%);
  --color2: hsl(243, 100%, 62%);
  --color3: hsl(228, 100%, 84%);
  --color4: hsl(206, 94%, 87%);
  --error: hsl(354, 84%, 57%);
  --color6: hsl(231, 11%, 63%);
  --color7: hsl(229, 24%, 87%);
  --color8: hsl(217, 100%, 97%);
  --color9: hsl(231, 100%, 99%);
  --neutral1: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  color: var(--color1);
  text-decoration: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--color8);
}
